body{
    background-color: black;
}
.container{
    text-align: center;
}
.dclock{
    color: greenyellow;
    font-size: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}